<header class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost text-xl">Charteraise</a>
  </div>
  <nav class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/user" routerLinkActive="font-bold">User</a></li>
      <li>
        <details>
          <summary>Charts</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a routerLink="pie-charts">Pie charts</a></li>
            <li><a routerLink="bar-charts">Bar charts</a></li>
            <li><a routerLink="gauge-charts">Gauge charts</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
