<aside
  class="flex flex-col h-screen border-r border-solid border-gray-300 w-1/5 fixed top-0 left-0 z-10"
>
  <div class="p-8">
    <a routerLink="/" class="text-xl font-serif font-bold">Chârteraisé</a>
  </div>

  <nav class="p-4">
    <ul>
      @for (link of links; track link.name) {
        <li class="my-2">
          <a
            [routerLink]="link.url"
            class="p-3 rounded block hover:bg-gray-100 transition-colors duration-150"
            routerLinkActive="bg-primary text-white hover:bg-primary"
          >
            <i class="bi" [class]="link.icon"></i>
            &nbsp;
            <span>
              {{ link.name }}
            </span>
          </a>
        </li>
      } @empty {
        <li>Home</li>
      }
    </ul>
  </nav>

  <footer class="mt-auto p-4">
    <p class="text-xs text-gray-400">
      &copy; 2025 Shaun Chong • All lefts reserved.
    </p>
  </footer>
</aside>
