<h1 class="text-3xl my-4">Interest for Western Europe</h1>

<google-chart
  [type]="geoChartType"
  title="Interests for Western Europe"
  [data]="geoChartData"
  [columns]="geoChartColumns"
  [options]="geoChartOptions"
></google-chart>

<h1 class="text-3xl my-4">Population around Malaysia</h1>

<google-chart
  [type]="geoChartType"
  title="Population around Malaysia"
  [data]="mysChartData"
  [columns]="mysChartColumns"
  [options]="mysChartOptions"
></google-chart>

<h1 class="text-3xl my-4">Driving Side by Country</h1>

<google-chart
  [type]="geoChartType"
  title="Driving Side by Country"
  [data]="driveSideChartData"
  [columns]="driveSideChartColumns"
  [options]="driveSideChartOptions"
></google-chart>
