<h1 class="text-6xl font-semibold">Pie Charts</h1>

<div class="flex bg-gray-200 border border-solid border-green-400 flex-wrap">
  <div>
    <google-chart
      [type]="type"
      title="My Programming Experience"
      [data]="data"
      [columns]="columns"
      style="width: 600px; height: 500px"
      [options]="options"
    ></google-chart>
  </div>
  <div>
    <google-chart
      [type]="type"
      title="My Programming Experience"
      [data]="data"
      [columns]="columns"
      style="width: 600px; height: 500px"
      [options]="options2"
    ></google-chart>
  </div>
  <div>
    <google-chart
      [type]="type"
      title="My Programming Experience"
      [data]="data"
      [columns]="columns"
      style="width: 600px; height: 500px"
      [options]="options3"
    ></google-chart>
  </div>
  <div>
    <google-chart
      [type]="type"
      title="My Programming Experience"
      [data]="data"
      [columns]="columns"
      style="width: 600px; height: 500px"
      [options]="options4"
    ></google-chart>
  </div>
  <div>
    <google-chart
      [type]="type"
      title="My Programming Experience"
      [data]="data"
      [columns]="columns"
      style="width: 600px; height: 500px"
      [options]="options5"
    ></google-chart>
  </div>
  <div>
    <google-chart
      [type]="type"
      title="My Programming Experience"
      [data]="data"
      [columns]="columns"
      style="width: 600px; height: 500px"
      [options]="options6"
    ></google-chart>
  </div>
</div>
